#main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
}

h1 {
    font-family: "owners-wide", sans-serif;
    font-weight: 500;
    font-style: normal;
}